@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Lucene.Net | MVC</title>
    <link rel="stylesheet" href="http://ericulous.com/demo/wp-content/themes/woogle/style.css"
        type="text/css" media="screen" />
    <link rel="pingback" href="http://ericulous.com/demo/xmlrpc.php" />
    <meta name='robots' content='noindex,follow' />
    <link rel="alternate" type="application/rss+xml" title="Demo WP &raquo; Feed" href="http://ericulous.com/demo/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Demo WP &raquo; Comments Feed"
        href="http://ericulous.com/demo/comments/feed/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ericulous.com/demo/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ericulous.com/demo/wp-includes/wlwmanifest.xml" />
    <style type="text/css">
        .recentcomments a
        {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <script type="text/javascript">        window.jQuery || document.write('<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"><\/script>')</script>
</head>
<body class="home blog">
    <div id="header">
        <div id="header_top">
            <ul>
                <li class="current_page_item"><a href="">Home</a></li>
                <li class="page_item page-item-2"><a href="">About</a></li>
                <li class="page_item page-item-19"><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="header_top_border header_top_border_left">
        </div>
        <div class="header_top_border header_top_border_right">
        </div>
        <p id="header_topright">
            <a href="">Log in</a></p>
        <form method="get" id="searchform" action="">
        <div style="float:left;width:60%">
        <table class="topsearch clr" cellspacing="20" >
            <tbody>
                <tr>
                    <td>
                        <h1>
                            <img alt="Home" style="width: 200px; height: 60px" src="../../Content/lucene.jpg" />
                        </h1>
                    </td>
                    <td class="td_topsearch" style="padding-left:20px">
                        <table class="topsearch" style="margin-top: 25px" >
                            <tbody>
                                 <tr>
                                    <td style="height:30px;width:150px">
                                        Limit                                        
                                    </td>
                                    <td colspan =1>
                                    <input type="text" value="1000" size="10" name="limit" id="limit" />                                        
                                    </td>
                                    
                                </tr>
                                 <tr>
                                    <td style="height:30px;width:150px">
                                        Latitude                                        
                                    </td>
                                    <td>
                                    <input type="text" value="" size="10" name="latitude" id="latitude" />                                        
                                    </td>                                   
                                </tr>
                                 <tr>
                                    <td style="height:30px;width:150px">
                                        Longtitude                                        
                                    </td>
                                    <td>
                                    <input type="text" value="" size="10" name="longitude" id="longitude" />                                        
                                    </td>                                   
                                </tr>
                                <tr>
                                <td>
                                Find text in review
                                </td>
                                    <td colspan =1>
                                        <input type="text" value="" size="41" name="s" id="s" />
                                        <input type="button" id="searchsubmit" value="Search" />
                                    </td>
                                    
                                </tr>
                    @*              <tr>
                                    <td style="height:30px;width:100px">
                                        Latitude                                        
                                    </td>
                                    <td>
                                    <input type="text" value="" size="10" name="limit" id="limit" />                                        
                                    </td>
                                </tr>*@

                            </tbody>
                        </table>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div style="float:left;">
        <table id="sidebar">
        <tbody>
            <tr>
                <td>
                    <h2>
                        Indexing
                        <img class="loading" src="../../Content/loading1.gif" style="vertical-align: middle" /></h2>
                    </br>
                    <table>
                        <tr>
                            <td>
                                <select class="analyzer-select" id="lang" name="lang">
                                    <option value="StandardAnalyzer" selected="selected">StandardAnalyzer</option>
                                    <option value="KeywordAnalyzer">KeywordAnalyzer</option>
                                    <option value="SimpleAnalyzer">SimpleAnalyzer</option>
                                    <option value="StopAnalyzer">StopAnalyzer</option>
                                    <option value="WhiteSpaceAnalyzer">WhiteSpaceAnalyzer</option>
                                </select>
                            </td>
                            <td>
                                <input type="button" id="createIndex" value="Create Index" />
                            </td>
                            <td>
                                <input type="button" id="Optimize" value="Optimize" />
                            </td>
                        </tr>
                    </table>
                    </br>
                    
                </td>
            </tr>
        </tbody>
    </table>
        </div>
        </form>
    </div>
    <div id="header_bottom">
        <div>
            Stats</div>
        <p class='divResult' style="height: 15px">
        </p>
    </div>
    
    <div class="searchBody">
        @RenderBody()
    </div>
    <div class="bottombar">
       
    </div>
    <script type="text/javascript">
        $(function () {
            $(".loading").hide();
            $("#createIndex").click(function (evt) {
                $(".loading").show();

                var analyzer = $('.analyzer-select').val();
                $(".divResult").load("/home/Create",
                            { strAnalyzer: analyzer }, function () {
                                $(".loading").hide();
                            });

            });
            $("#Optimize").click(function (evt) {
                $(".loading").show();
                var analyzer = $('.analyzer-select').val();
                $(".divResult").load("/home/OptimizeIndex",
                            { strAnalyzer: analyzer }, function () {
                                $(".loading").hide();
                                alert("hide");
                            });

            });

            $("#searchsubmit").click(function (evt) {

                var value = $('#s').val();
                var limit = $('#limit').val();
                var latitude = $('#latitude').val();
               
                var longitude = $('#longitude').val();
          
                $(".searchBody").load("/home/Search",
                            { queryText: value, limit: limit, latitude: latitude, longitude: longitude }, function (data) {

                            });

            });

        });
    </script>
</body>
</html>
